# This is a confidential file from PRH
https_api_tietopalvelu_ytj_fi_yritystiedot.wsdl

# These contain user specificand sensitive information
.env
.env.live
.env.local

# We don't want test data files to git repo
*.xls
*.xlsx
*.csv
secrets.toml

# venv environments out of the git repo
venv

# No cache files in the git repo
__pycache__/
*.py[cod]